<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/landlorddashboard.css">
</head>
<body>
    <div class = "container">
        <div class = "title">
            <h1><%=data.name%>'s, Dashboard</h1>
        </div>
        <div class = "head">
            <div class = "details">
                <p>Name : <%=data.name%></p>
                <p>Email : <%=data.email%></p>
                <p>Number : <%=data.phone%></p>
            </div>
            <div class = "image">
                <img src = "/assets/dashboard.png" alt = "dashboard"/>
            </div>
        </div>
        <div class = "content">
            <div class="tab">
                <button class="tablinks" onclick="opensection(event, 'mypg')"><b>My PGs</b></button>
                <button class="tablinks" onclick="opensection(event, 'newpg')"><b>New PG</b></button>
              </div>
              
              <div id="mypg" class="tabcontent">
                <div class = "mypg">
                    <% if (data.pgs.length > 0) { %>
                        <% data.pgs.forEach(function(pg) { %>
                            <div class = "pg">
                                <div class = "pgdetails">
                                    <!-- <p>Name : <%=pg.name%></p>
                                    <p>Address : <%=pg.address%></p>
                                    <p>Number : <%=pg.phone%></p> -->
                                    <p>Yes data</p>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <img src = "/assets/nodata.png" alt = "no data"/>
                        <b>You Have not added any PG currently</b>
                    <% } %>
                </div>
              </div>
              <div id="newpg" class="tabcontent">
                <h3>New PG</h3>
                <p>Add New PG</p>
              </div>
        </div>
        <div class = "footer">
            <form method = "POST" action = "/api/landlordlogout">
                <button type = "submit"><b>Logout</b></button>
            </form>
        </div>
        <script src = "/scripts/landlorddashboard.js"></script>
    </div>
</body>
</html>